<section class="fade-hero-section">
  <div class="phrase">
    <div class="title">
      <h3>
        <span>*</span><span>This is our word </span><span>for epiphany.</span><span>We had one and</span>
        <span>that&#8217;s why we&#8217;re here…</span>
      </h3>
    </div>
  </div>

  <div class="shortcut">
    <div class="title">
      <div class="about-shortcut">
        <h3>
          <span>*</span><span>There&#8217;s a</span><span>shortcut to</span><span>greatness</span>
        </h3>
      </div>
      <div class="shortcut-description">
        <p>
          <span><strong>So we&#8217;ll give it to you straight:</strong></span>we give our clients direct access to our
          award-winning creators
          and doers.
        </p>
        <p>
          <span><strong>No layers,</strong></span>just creatives who excel at handling complexity.
        </p>
      </div>
    </div>
  </div>
</section>