<section id="about-us" class="about-section">
  <div class="team">
    <div class="title">
      <div class="about-team">
        <h3><span>*</span><span>Nice to</span><span>meet you</span></h3>
      </div>
      <div class="team-description">
        <p>
          Hot Lava is the very best of our big-brand, big-agency
          experiences. Just smaller. And more human. Our strong, supportive
          network ensures bigger thinking, better efficiencies, faster
          results and bold, sticky work.*
          <small>*Without the mess.</small>
        </p>
      </div>
    </div>
  </div>

  <div class="members">
    <div class="kristi member-item">
      <div class="bg">
        <img src="/kris-color.jpg" alt="kristi" />
      </div>

      <div class="about">
        <div class="name">
          <p>Kristi</p>
        </div>
        <div class="description">
          <p>
            Kristi has 15+ years experience in writing, public relations,
            brand strategy, building teams and creating highly effective
            work in CPG and retail.
          </p>
        </div>
      </div>
    </div>
    <div class="phil member-item">
      <div class="bg">
        <img src="/phil-color.jpg" alt="kristi" />
      </div>

      <div class="about">
        <div class="name">
          <p>Phil</p>
        </div>
        <div class="description">
          <p>
            Phil&#8217;s thoughtful and boundary-pushing approach has
            resulted in cohesive, impactful work for the world&#8217;s best
            brands, at the best agencies in Chicago and NYC.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>