@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "./scss/vars";

// For all html tags
@import "./scss/html";

// Layout components
@import "./scss/menu";
@import "./scss/copyright";
@import "./scss/header";
// @import "./scss/slogan";
@import "./scss/modal";
@import "./scss/videofull";

// External components
@import "./scss/lenis";
@import "./scss/cursor";
@import "./scss/swiper";

// Main Section + Generic styles
@import "./scss/main";

// Sections
@import "./scss/hero";
@import "./scss/intro";
@import "./scss/about"; 
@import "./scss/works";
@import "./scss/shop";
@import "./scss/contact";
