@import "./scss/vars";

// For all html tags
@import "./scss/html";

// Layout components
@import "./scss/menu";
@import "./scss/copyright";
@import "./scss/header";
@import "./scss/slogan";

// External components
@import "./scss/lenis";
@import "./scss/cursor";

// Main Section + Generic styles
@import "./scss/main";

// Sections
@import "./scss/hero";
@import "./scss/intro";
@import "./scss/about";
@import "./scss/how";
@import "./scss/work";
@import "./scss/contact";