.about {
  color: $color-aquaGreen;
  padding-bottom: 15vh;

  @media (min-width: $change-layout) {
    // height: 500vh;
    padding-bottom: 10vh;
  }
}

.team {
  top: 10vh !important;
  width: 150vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width:$change-layout) {
    flex-direction: row;
  }
}

.team__card {
  position: relative;
  // overflow: hidden;

  width: 100vw;
  //height: clamp(435px, 45vh, 500px);

  @media (min-width:$change-layout) {
    width: 1200px;
    height: auto;

    &:first-child {
      margin-left: 5vw;
    }
  }

  picture {
    display: block;
    width: 100%;
    opacity: 0.85;
    z-index: 1;

    background: $color-lightBlue;
    border-radius: 0 100vh 100vh 0;

    object-fit: cover;
    overflow: hidden;
    aspect-ratio: 4/3;

    @media (min-width:$change-layout) {
      // width: clamp(900px, 75vw, 1080px);
      width: 90%;
      max-width: 1000px;
      
      border-radius: 100vh;
      aspect-ratio: 3/2;
    }
    @media (max-width:$tablet-l) {
      margin-top: 10vh;
    }

  }

  img {
    // width: 100%;
    // mix-blend-mode: multiply;
    // opacity: 0.85;
    // z-index: 1;
    // object-fit: cover;
    // overflow: hidden;
    // aspect-ratio: 4/3;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 100vh 100vh 0;
    mix-blend-mode: multiply;

    @media (min-width:$change-layout) {
      border-radius: 100vh;
      // width: clamp(900px, 75vw, 1080px);
      // aspect-ratio: 3/2;
    }
  }
}

.team__bio {
  position: absolute;
  top: 45%;
  left: 10%;
  width: fit-content;
  height: fit-content;
  z-index: 2;

  @media (max-width: 580px) {
    margin-top: 2vh;
  }

  h3 {
    color: $color-white;
    color: $color-aquaGreen;
  }

  p {
    width: 90%;
    max-width: 540px;

    font-size: clamp(22px, 6vw, 24px);
    line-height: 1.35;
    color: $color-aquaGreen;
    color: $color-white;

    @media (max-width: 580px) {
      width: 80%;
      font-size: clamp(10px, 6vw, 16px);
    }
  }
}