.team {
  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8vw;

  &__card {
    position: relative;
    overflow: hidden;
    width: clamp(820px, 150vw, 960px);
    height: 65vh;

    background: $color-lightBlue;
    border-radius: 100vh;

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: .85;
      z-index: 1;
    }
  }

  &__bio {
    position: absolute;
    top: 45%;
    left: 15%;
    width: fit-content;
    height: fit-content;
    z-index: 2;

    h3 {
      color: $color-white;
      color: $color-aquaGreen;
    }

    p {
      width: 60%;
      font-size: 20.5px;
      line-height: 1.35;
      color: $color-aquaGreen;
      color: $color-white;

      @media (max-width: 580px) {
        width: 80%;
      }
    }
  }

}