.copyright {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: 5vh 0 3vh 0;
  z-index: 1000;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desktop {
    display: inline;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 780px) {
    .desktop {
      display: none;
    }

    .mobile {
      display: inline;
    }
  }

  @media (max-width: 580px) {
    margin: 5vh 8vw 5vw 8vw;
  }

  .line {
    height: 1px;
    width: 28vw;
    background-color: #FFFFFF;
  }

  p {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.01em;
    margin: 0;
  }
}