.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 9991;

  width: 100%;
  margin: 5vh 0 0 0;

  @media (max-width: 580px) {
    margin: 1vh 4vw 0 4vw;
    width: 90%;
  }

  img {
    @media (max-width: 580px) {
      transform: scale(.8);
    }
  }

  button {
    background-color: #ffffff00;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .burger {

    @media (min-width: 780px) {
      display: none;
    }
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }
}

.logo {
  display: block;
  width: fit-content;
}