.how {
  @media (min-width: $change-layout) {
    padding: 20vh 0 0 0;
  }

  .section__slide {
    padding: 10vh 0;

    @media (min-width: $change-layout) {
      padding: 20vh 0;
    }
  }

  .section__h3 {
    color: $color-orange;

    // --> For small numbers
    // sub {
    //   &:nth-child(1) {
    //     font-size: clamp(14px, 8vw, 28px);
    //     margin-left: -1vw;
    //     line-height: 0.5;
    //   }

    //   &:nth-child(2) {
    //     line-height: 1;
    //   }

    //   display: block;
    // }
  }

}