.how-we-work {
  width: fit-content;

  .our-way-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 150vh;

    .main-slide {
      height: 100vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
      gap: 1rem;

      @media (max-width: 980px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
 

      .about-agency {
        color: $color-grey;
        width: 45%;
        // margin-bottom: 6vw;

        @media (max-width: 980px) {
          width: 100%;
        }

        p {
          font-family: "komet", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: clamp(10px, 3vw, 35px);

          @media (max-width: 980px) {
            font-size: clamp(15px, 4vw, 47px);
          }
          @media (max-width: 480px) {
            font-size: clamp(20px, 6vw, 70px);
          }
        }
      }
    }

    .secondary-slides {
      height: 100vh;
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;

      @media (max-width: 1480px) {
        flex-direction: column;
        justify-content: center;
        align-items: start;
      }
 

      .about-agency {
        // position: absolute;
        // color: $color-grey;
        // left: 50vw;
        width: 40vw;
        max-width: 480px;
        // margin-bottom: 8vw;

        @media (max-width: 1480px) {
          position: relative;
          top: 0;
          left: 0;
          width: 80%;
          margin-top: -5vh;
        }
        @media (max-width: 780px) {
          width: 100%;
        }

        p {  
          font-size: clamp(21px, 2.1vw, 25px);
          line-height: 1.45;
          letter-spacing: -0.01em;
          margin: 1.5rem 0 0 0;

          small {
            display: block;
            margin-top: 1rem;
            font-size: 75%;
            opacity: .75;
          }

          /* @media (max-width: 980px) {
            font-size: clamp(6px, 2vw, 20px);
          } */
          // @media (max-width: 780px) {
          //   font-size: clamp(12px, 4vw, 40px);
          // }
          // @media (max-width: 480px) {
          //   font-size: clamp(20px, 6vw, 70px);
          // }
        }
      }
    }
  }


  .how-we-work-item {
    padding: 20vh 0;


    .about-phrase { 

      h3 {
        
        color: $color-orange;
        margin-bottom: 140px;  

        sub {
          &:nth-child(1) {
            font-size: clamp(14px, 8vw, 28px);
            margin-left: -1vw;
            line-height: 0.5;
          }
          &:nth-child(2) {
            line-height: 1;
          }
    
          display: block;
        }
      }
     }
  }
}