.intro {
  .wrapper {
    padding: 10vh 0;

    @media (min-width:$change-layout) {
      padding: 20vh 0;
    }
  }

  .section__slide:nth-child(2) {
    padding: 14vh 0 5vh 0;

    @media (min-width: $change-layout) {
      padding: 40vh 0 5vh 0;
    }
  } 
}