.menu {

  // Menu desktop, vertical layout
  .desktop {
    position: fixed;
    right: calc(5% - 40px);
    width: 40px;
    z-index: 998;
    height: 100vh;

    @media (max-width: 780px) {
      display: none;
    }

    .active {
      opacity: .25;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;

      margin: 0;
      transform: rotate(-90deg);
      position: absolute;
      width: 100vh;
      bottom: 0;
      left: 18px;
      transform-origin: 0;

      li {
        list-style-type: none;

        a {
          padding: 1rem;

          font-size: clamp(16px, 2vw, 18px);
          font-weight: 900;
          letter-spacing: .05rem;
          color: #FFFFFF;
          text-decoration: none;

          transition-duration: .35s;

          &:hover {
            transition-duration: .35s;
            cursor: pointer;
            opacity: .5;
          }
        }

      }

      span {
        font-weight: 600;
        display: block;
        margin-top: 4px;
      }
    }
  }

  // Menu mobile, burger menu
  .mobile {
    position: fixed;
    z-index: 9990;
    height: 100vh;
    width: 100%;
    padding: 0 10% 15% 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5vh;

    background-color: $color-orange;

    @media (min-width: 780px) {
      display: none;
    }

    .nav {
      padding: 25vh 0 0 0;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        // margin-top: 25vh; 
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          a {
            color: #FFFFFF;
            text-decoration: none;
            letter-spacing: -.015rem;
            padding: 1rem 0;
            transition-duration: 1s;

            font-size: clamp(36px, 6vw, 48px);
            font-weight: 900;
          }
        }
      }
    }

    .contact {

      p {
        display: block;
        margin-bottom: 1rem;

        font-weight: 400;
        font-size: 21px;
        letter-spacing: -0.01em;
        color: $color-white;
      }
    }

    .socials {
      width: fit-content;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1px solid $color-white;
        transition-duration: 1s;

        @media (max-width: 480px) {
          width: 4rem;
          height: 4rem;
        }

        &:hover {
          cursor: pointer;
          background-color: $color-white;
          transition-duration: 1s;
        }

        svg {
          path {
            stroke: #fff
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}