swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide {
  width: 90%;
  max-width: 900px;
}

swiper-slide.slide-img {
  width: 90%;
  max-width: 30vw;
}

.swiper-pagination-bullet-active {
  background-color: $color-orange;
}

.sliderWrapper {

  :global(.swiper-pagination-bullet-active) {
    background-color: $color-orange;
  }
}

.work__slider {
  width: 100%;
  height: 90%;
}

.card {
  position: relative;
  width: 100%;

  video {
    display: block;
    overflow: hidden;
    border-radius: 24px;
    width: 100%;
  }

  img {
    display: block;
    overflow: hidden;
    border-radius: 24px;

    width: 100%;
    height: auto;
    margin: auto;

  }
}

.card--vertical {
  img {
    width: 90%;
    height: 100%;
    margin: 0;
  }
}