.contact {
  position: relative;
  overflow: hidden;
  padding-top: 20vh;
  height: clamp(500px, 100vh, 1080px); 
 

  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;

    width: fit-content;
    margin-top: 32px;

    @media (max-width: 1480px) {
      width: 80%;
    }

    @media (max-width: 1128px) {
      width: 100%;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;

      border-radius: 999px;
      border: 1px solid $color-orange;
      transition-duration: 0.35s;
      cursor: pointer;

      @media (max-width: 480px) {
        width: 4rem;
        height: 4rem;
      }

      svg {
        path {
          transition-duration: 0.35s;
        }
      }

      &:hover {
        background-color: $color-orange;

        svg {
          path {
            stroke: #fff;
          }
        }
      }
    }
  } 
}

.contact {
  background-color: #102d41;
}
.container {
  justify-content: flex-start;
} 
.contact__links { 
  right: 10%;
  bottom: 0%;
  max-width: 400px;

  a {
    margin-top: 2rem;
    display: block;
  }
}
.contact__info {
  position: relative;
  width: 100%; 
  margin: 0; 

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 

  z-index: 10;
 
}

.contact__phrase {
  span {
    display: block;

    &:nth-child(1) {
      line-height: 0.85;
    }
  }
}

.contact__links { 
  p { 
    color: var(--color-orange); 
  }

  a {
    color: var(--color-link);
    color: var(--color-orange);
    text-decoration: none;
    transition: 0.35s;

    &:hover {
      color: $color-white;
    }
  }
}

.contact__social {
  padding: 3em 0 2em 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5em;

  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: opacity 0.3s ease;
  }

  a:hover {
    opacity: 0.8;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: white;
  }
}

.logo-footer  {
  width: 100%;
  position: absolute; 
  bottom: 0;
  height: 20vh;

  background: url('/images/logo-hot-lava-footer.svg') no-repeat center bottom;
  background-size: contain;
    transform: translateY(5%);

    // img { 
    //   width: 102%;
    //   height: 102%;
    //   object-fit: contain;
    //   transform: translateY(12%) translateX(-2%);
    // }
  }