.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 9980;

  width: 100%;
  margin: 0 0 0 0;

  @media (max-width: 580px) {
    margin: 0;
  }

  img { 
    width: 100%;
  }

  .show {
    display: block;
  }

  .hidden {
    display: none;
  }
}

.header {
  .logo {
    display: block;
    width: fit-content;
    max-width: 80px;
    margin: 1rem 0 0 4%;
  
  
    @media (min-width: 1024px) {
      max-width: 90px;
    }
  }

  .logo-container {
    width: min(100%, 75vh);
    width: 45vw;
    padding-left: 5%;
  
    
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
 

.logo--vertical {
  position: absolute;
  z-index: 10;
  width: 100%;
  max-width: 120px;

  img {
    width: 100%;
    height: auto;
  }
}