.intro { 
  position: relative;
  z-index: 10;
  padding: 20vh 0;
  margin-top: 15vh;

  overflow-x: hidden;
  overflow-y: visible;
 
  .container {
    position: relative;
    z-index: 2;
  }

  .paragraph-intro {
    width: 100%; 
    margin-top: 0rem;
  }
}

.intro__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  margin-top: 4rem;
}

.intro__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 75vh;
}

.intro__section--first {
   .container {
    align-items: flex-end;
  } 

  .title {
    @media (min-width: 1024px) {
      max-width: 70%;
    }
  }
}

.intro__section--second, 
.intro__section--third  {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
  }
}

.intro__section--third {
  .wrapper { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .container { 
    align-items: flex-end;
    align-items: flex-start;
    min-height: 90vh;
    width: fit-content;
    margin: 0;
  }
}
.intro__section--fourth {
  .container {  
    min-height: 0vh;
  }
}

// Images at intro section

.image-phrase {
  position: absolute; 
  top: 5%;
  left: 0%;
  width: 50vw;
  height: auto;
  aspect-ratio: 3/2;
  
  @media (max-width: 1023px) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-ideas {
  position: absolute;
  top: 15%;
  right: 0;
  width: 52.5vw;
  height: auto;
  aspect-ratio: 5/3;

  @media (max-width: 1023px) {
    width: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

// Asterisk lines at intro section

.asterisk-lines-container {
  position: relative;
  overflow: hidden; 
}

.asterisk-lines {
  position: absolute;
  bottom: 17.5%;
  left: -15%;
  width:min(75vw, 1080px);
  height: auto;
  aspect-ratio: 1/1;
  z-index: 10;
}