@use './vars' as *;

.products {
  position: relative;
  width: 100%;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0rem;
  min-height: unset;
  padding: 10vh 0;
  width: 100%;

  @media (max-width: $tablet-l) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (max-width: $landscape) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.product__card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;

//   &:hover {
//     transform: scale(1.02);
//   }

  &--orange {
    background-color: $color-orange;
  }

  &--yellow {
    background-color: $color-yellow;
  }

  &--lightBlue {
    background-color: $color-aquaGreen;
  }
}

.product__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
